#username_field, #password_field, #first_name_field, #last_name_field, #email_field, #retype_password_field {
	border:none;
	padding:5px 0;
}

.ui-submit, #signup_link, #username, #password, #login_submit_btn, #retype_password, #email, #first_name, #last_name {
	height:45px;
	width:250px;
	display:block;
	margin:0 auto;
	border-radius:2px;
}

.ui-submit {
	padding: 0px;
	margin: 5px auto;
}


#titlelabel {
font-family: 'Quicksand', sans-serif;
	font-weight:bold;
	text-shadow:none;
	color:red;
	font-size:15px;
}

#textarealabel {
font-family: 'Quicksand', sans-serif;
	font-weight:bold;
	text-shadow:none;
	color:red;
	font-size:15px;
}

#datetimelabel {
font-family: 'Quicksand', sans-serif;
	font-weight:bold;
	text-shadow:none;
	color:red;
	font-size:15px;
}

#ranklabel {
font-family: 'Quicksand', sans-serif;
	font-weight:bold;
	text-shadow:none;
	color:red;
	font-size:15px;
}

#progresslabel {
font-family: 'Quicksand', sans-serif;
	font-weight:bold;
	text-shadow:none;
	color:red;
	font-size:15px;
}

#timelabel {
font-family: 'Quicksand', sans-serif;
	font-weight:bold;
	text-shadow:none;
	color:red;
	font-size:15px;
}

#hourslabel {
font-family: 'Quicksand', sans-serif;
	font-weight:bold;
	text-shadow:none;
	color:red;
	font-size:15px;
	float: left;
    width: 70%
}

#title {
	 -webkit-box-shadow: none;
font-family: 'Quicksand', sans-serif;
	font-weight:normal;
	text-shadow:none;
	color:black;
	font-size:15px;
	
}

#textarea {
	 -webkit-box-shadow: none;
font-family: 'Quicksand', sans-serif;
	font-weight:normal;
	text-shadow:none;
	color:black;
	font-size:15px;
}

#rank {
	-webkit-box-shadow: none;
font-family: 'Quicksand', sans-serif;
	font-weight:normal;
	text-shadow:none;
	color:black;
	font-size:15px;
}


#deadline {
	-webkit-box-shadow: none;
	outline:none;
font-family: 'Quicksand', sans-serif;
	font-weight:normal;
	text-shadow:none;
	color:black;
	font-size:15px;
}

#number {
	display:block;
	-webkit-box-shadow: none;
font-family: 'Quicksand', sans-serif;
	font-weight:normal;
	text-shadow:none;
	color:black;
	font-size:15px;
	width:50px;
	data-inline:true;
}

#progress {
	-webkit-box-shadow: none;
font-family: 'Quicksand', sans-serif;
	font-weight:normal;
	text-shadow:none;
	color:black;
	font-size:15px;
}

#save_btn {
	color: black;
	background: red;
	width:100%;
}

#dialogmsg {
font-family: 'Quicksand', sans-serif;
	font-weight:normal;
	text-shadow:none;
	color:black;
	font-size:large;
color: black;
background white;
}

#deletepage {
background: #c2edff;
}

