#username_field, #password_field, #first_name_field, #last_name_field, #email_field, #retype_password_field, #fgt_email, #signup_password_field {
	border:none;
	padding:5px 0;
}

.ui-submit, #signup_link, #username, #password, #retype_password, #email, #first_name, #last_name, #fgt_email, #signup_password, #signup_password {
	height:45px;
	width:250px;
	display:block;
	margin:0 auto;
	border-radius:2px;
}

#fgt_email {
	padding-left:5px;
}

.login_notification_box, .login_submit_btn, .signup_btn, .forgot_password_btn, .forgot_password_submit_btn, .fgt_pword_notification,
.forgot_password_success, .signup_submit_btn, .signup_notification, .signup_success {
	border-radius:3px;
 	width:250px;
 	padding-top:15px;
 	height:35px;
 	text-align:center;
 	font-family: 'Arial', cursive;
 	margin:5px auto;
}

.login_submit_btn, .forgot_password_submit_btn, .forgot_password_success, .signup_submit_btn, .signup_success {
	border:1px solid #f0cc1a;
	color:black;
	background-color: #f7e488;
}

.login_notification_box, .fgt_pword_notification, .signup_notification {
 	border:1px solid #D1026C;
 	color: #D1026C;
 	background-color: #fec0e0;
 	margin-bottom:10px;
 	display:none;
}

.signup_btn {
	border:1px solid #048091;
	color: #035e6b;
	background-color: #85edfc;
	margin-top:10px;
}

#signup_link {
	color: #035e6b;
}

.forgot_password_btn {
	border:1px solid #61c155;
	color: #275920;
	background-color: #b1e0ab;
	margin-top:20px;
	padding-top:5px;
 	height:25px;
}

.forgot_password_success, .signup_success {
	padding-top:35px;
	height:70px;
	margin-top:0px;
}

.signup_success {
	margin-top:10px;
}

#forgot_password_link, #signup_success_link {
	color: #275920;
}

#forgot_password_success_link, #signup_success_link {
	color: black;
}


.ui-submit {
	padding: 0px;
	margin: 5px auto;
}


#titlelabel {
font-family: 'Quicksand', sans-serif;
	font-weight:bold;
	text-shadow:none;
	color:red;
	font-size:15px;
}

#textarealabel {
font-family: 'Quicksand', sans-serif;
	font-weight:bold;
	text-shadow:none;
	color:red;
	font-size:15px;
}

#datetimelabel {
font-family: 'Quicksand', sans-serif;
	font-weight:bold;
	text-shadow:none;
	color:red;
	font-size:15px;
}

#ranklabel {
font-family: 'Quicksand', sans-serif;
	font-weight:bold;
	text-shadow:none;
	color:red;
	font-size:15px;
}

#progresslabel {
font-family: 'Quicksand', sans-serif;
	font-weight:bold;
	text-shadow:none;
	color:red;
	font-size:15px;
}

#timelabel {
font-family: 'Quicksand', sans-serif;
	font-weight:bold;
	text-shadow:none;
	color:red;
	font-size:15px;
}

#hourslabel {
font-family: 'Quicksand', sans-serif;
	font-weight:bold;
	text-shadow:none;
	color:red;
	font-size:15px;
	float: left;
    width: 70%
}

#title {
	 -webkit-box-shadow: none;
font-family: 'Quicksand', sans-serif;
	font-weight:normal;
	text-shadow:none;
	color:black;
	font-size:15px;
	
}

#textarea {
	 -webkit-box-shadow: none;
font-family: 'Quicksand', sans-serif;
	font-weight:normal;
	text-shadow:none;
	color:black;
	font-size:15px;
}

#rank {
	-webkit-box-shadow: none;
font-family: 'Quicksand', sans-serif;
	font-weight:normal;
	text-shadow:none;
	color:black;
	font-size:15px;
}


#deadline {
	-webkit-box-shadow: none;
	outline:none;
font-family: 'Quicksand', sans-serif;
	font-weight:normal;
	text-shadow:none;
	color:black;
	font-size:15px;
}

#number {
        display: block;
	-webkit-box-shadow: none;
font-family: 'Quicksand', sans-serif;
	font-weight:normal;
	text-shadow:none;
	color:black;
	font-size:15px;
	width:50px;
        text-align: center;
       
}

#progress {
	-webkit-box-shadow: none;
font-family: 'Quicksand', sans-serif;
	font-weight:normal;
	text-shadow:none;
	color:black;
	font-size:15px;
}

#save_btn {
	color: black;
	background: red;
	width:100%;
}

#dialogmsg {
font-family: 'Quicksand', sans-serif;
	font-weight:normal;
	text-shadow:none;
	font-size:large;
color: black;
	text-align:center;
}

#cancel_msg {
 background-color: black;
 opacity: 1;
}

.cancelmsg {
font-family: 'Quicksand', sans-serif;
	font-weight:normal;
	text-shadow:none;
	font-size:large;
color: black;
	text-align:center;
}

#deletebtndiv {
  margin-left:5px;
}

#delete_btn {
}

.ui-page {
	opacity: 1;
}

.ui-dialog-background {
	opacity: 0.5;
	display: block !important;
	-webkit-transition: opacity 0.2s ease-in;
}

.ui-dialog-background.pop.in {
	opacity: 1;
	-webkit-transition: opacity 0.2s ease-in;
}

.ui-dialog {
	min-height: 100% !important;
	background: transparent !important;
	z-index: 3000;
}