/*
 * ---------------------------------------------------------------------------------------
 * HOME STYLES (move this later)
 * ---------------------------------------------------------------------------------------
 */
 
 #header_text {
 	font-family: 'Quicksand', cursive;
 	font-size:20px;
 	padding-top:8px;
 	margin-top:0;
 	text-shadow:none;
 	font-weight:normal;
 }
 
 .home_priorifly_logo {
 	font-family: 'Pacifico', cursive;
 	font-size:65px;
 	text-align:center;
 	color:white;
 	padding:0;
 	margin:0;
 	font-weight:normal;
 	text-shadow: #F2D43F 0.1em 0.1em 0.9em;
 	margin-left:-4px;
 }
 
 #forgot_pword_link {
 	font-family: 'Pacifico', cursive;
 	font-size:26px;
 	text-shadow: black 0.1em 0.1em 0.9em;
 }
 
 #signup_link_container {
 	border-width:0px;
 }
 
 .notifications_link_img {
 	margin-top:-10px;
 	margin-left:8px;
 }
 
 
/*
 * ---------------------------------------------------------------------------------------
 * HEADER STYLES
 * ---------------------------------------------------------------------------------------
 */
 
#nav_header {
	/*background-image: linear-gradient(bottom, #048091 48%, #05a2b7 74%);
	background-image: -o-linear-gradient(bottom, #048091 48%, #05a2b7 74%);
	background-image: -moz-linear-gradient(bottom, #048091 48%, #05a2b7 74%);
	background-image: -webkit-linear-gradient(bottom, #048091 48%, #05a2b7 74%);
	background-image: -ms-linear-gradient(bottom, #048091 48%, #05a2b7 74%);*/
	background-image: none;
	background-color: #245A96;
	border-bottom: 4px solid #1A416D;
	height:38px;
}

.home_link, .notifications_link {
	position:absolute;
	top:5px;
}

.home_link {
	float:left;
	left:25px;
}

.notifications_link {
	float:right;
	top:11px;
	left:270px;
}

/*
 * ---------------------------------------------------------------------------------------
 * FILTER CONTAINER STYLES (buttons above tasks section)
 * ---------------------------------------------------------------------------------------
 */

.filter_container {
	min-height:75px;
}

.btn_name {
	font-family: 'Josefin Sans', sans-serif;
	font-weight:normal;
	text-shadow:none;
	color:black;
	font-size:20px;
}

#prioritize_btn, #sort_btn, #reorder_btn {
	border-radius:4px;
	text-align:center;
	width:80px;
	padding:15px 0;
	background-color: #ff264a;
	border-bottom: 4px solid #d90024;
	position:absolute;
	top:60px;
}

#prioritize_btn {
	background-color: #F2D43F;
	border-color:#eec910;
	margin-left:0;
	left: 120px;
}


#sort_btn {
	left:225px;
	background-color:#61C155;
	border-color:#48a63d;
}


/*
 * ---------------------------------------------------------------------------------------
 * FILTER STYLES
 * ---------------------------------------------------------------------------------------
 */


#sorting_options_container {
	position: absolute;
	top: 52px;
	left: 224px;
	width: 79px;
	font-size: 12px;
	background-color:#e7f5e5;
	border-radius:0px;
	border:1px solid #7ccb72;
	font-family: 'Quicksand', sans-serif;
}

.sort_option {
	border-bottom:1px solid #7ccb72;
	padding:10px 0;
	padding-left:3px;
	margin:0;
	font-weight:normal;
	text-shadow:none;
}

.last_option {
	border-width:0px;
}

.selected_option {
	background-color:#4caf40;
	color:white;
}

.deadline {
	font-size:13px;
	color: #1a3c16;
	list-style:none;
	display:inline-block;
	margin:0px;
	padding:0px;
}

.rank {
	color: #1a3c16;
}


/*
 * ---------------------------------------------------------------------------------------
 * TASK STYLES (buttons above tasks section)
 * ---------------------------------------------------------------------------------------
 */

.hide_task {
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.arrow, .wrench, .heart, .trash_heart {
	margin-top: -25px;
	left: 285px;
	position: absolute;
}

.heart {
	display:none;
}

.wrench {
	left:285px;
	display:none;
}

.trash_heart {
	margin-top:-20px;
	left:278px;
}

.task_name {
	width: 260px;
	word-wrap:break-word;
}

.hidden_task_name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.task, .completed_task {
	margin-top:3px;
	font-size:20px;
	border-top:1px solid black;
	padding:15px 0px;
	font-family: 'Quicksand', sans-serif;
	min-height:25px;
}

.completed_task {
	color:#95CFB7;
	border-color:#95CFB7;
}

.task_description {
	width:270px;
	font-size:15px;
	font-family: 'Quicksand', sans-serif;
}

.no_tasks {
	text-align:center;
	font-family: 'Quicksand', sans-serif;
	font-size:30px;
	padding:10px 0px;
}

.no_tasks_sidenote {
	text-align:center;
	font-family: 'Quicksand', sans-serif;
	font-size:20px;
	padding:40px 20px;
}

.progress_update_message {
	background-color: #26B7FF;
	color: white;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	float: left;
	position: absolute;
	width: 251px;
	left: 25px;
	margin-top: 5px;
	height: 48px;
	z-index: 5;
	border-radius:4px;
	display:none;
}


/*
 * ---------------------------------------------------------------------------------------
 * FOOTER STYLES (create button section)
 * ---------------------------------------------------------------------------------------
 */

a {
	text-decoration:none;
}

.active_link {
	background-color: #245A96;
	border-top: 4px solid #377fcf;
}

#footer {
	visibility:hidden;
}

#tasks_reminders_container {
	height:50px;
}

#tasks_link {
	visibility:visible;
	width:100%;
	height:50px;
	margin:0 auto;
	text-align:center;
}

.create_task_text {
	background-color: #f4d958;
	border-bottom:3px solid #d4b20e;
	border-radius:4px;
	color:black;
	font-size:25px;
	text-decoration:none;
	font-weight:normal;
	text-shadow: none;
	font-family: 'Quicksand', sans-serif;
	margin-top:8px;
	width:100px;
	padding:0px 20px;
	position:absolute;
	left:28%;
	top:3px;
}

/*
 * ---------------------------------------------------------------------------------------
 * Mobile Slider
 * ---------------------------------------------------------------------------------------
 */

div.ui-slider {
	margin: 0 2% 15px 20px;
	width: 87%;
}

input.ui-slider-input, .ui-field-contain input.ui-slider-input {
	display:block;
	margin: 8px auto;
	text-align:center;
}



